.red {
  color: red;
}
.users-container {
  .actions {
    .refesh {
      margin-right: 10px;
    }
  }
  .user-body {
    .edit {
      color: orange;
      cursor: pointer;
      font-size: 1.5rem;
      padding-right: 15px;
    }
    .delete {
      color: red;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
